<div class="view">
    <!-- G1Professor -->
    <div class="title-box">
        <h1 class="title">
            第一屆
        </h1>
    </div>
    <div class="rowframe">
        <div class="profileframe">
            <div class="role">
                教授
            </div>
            <div class="profile">
                <img class="profile" src="https://www.math.fju.edu.tw/images/tlpteam/m_tcyu-1722484227.jpg">
            </div>
            <span class="name">
                俞贊城
            </span>
        </div>
        <div class="profileframe">
            <div class="role">
                教授
            </div>
            <div class="profile">
                <img class="profile" src="https://www.math.fju.edu.tw/images/tlpteam/l_jun-jie-pan-1626177577.jpg">
            </div>
            <span class="name">
                潘俊杰
            </span>
        </div>
    </div>
    <!-- G1Professor -->

    <!-- G1Teammate -->
    <div class="rowframe">
        <div class="profileframe">
            <div class="role">
                團長
            </div>
            <div class="profile">
                <img style="width: 18vw;display: flex; margin: auto;" class="profile" src="member/JWH.png">
            </div>
            <span class="name">
                簡偉恆
            </span>
        </div>
        <div class="profileframe">
            <div class="role">
                副團長
            </div>
            <div class="profile">
                <img class="profile" src="member/LYH.jpg">
            </div>
            <span class="name">
                盧詠涵
            </span>
        </div>
        <div class="profileframe">
            <div class="role">
                資安組
            </div>
            <div class="profile">
                <img class="profile" src="salamander/salamander2.webp">
            </div>
            <span class="name">
                蕭士壕,
            </span>
            <span class="name">
                盧詠涵.
            </span>
        </div>
    </div>
    <div class="rowframe">
        <div class="profileframe">
            <div class="role">
                計算機結構組
            </div>
            <div class="profile">
                <img class="profile" src="salamander/salamander3.webp">
            </div>
            <span class="name">
                趙仲德,
            </span>
            <span class="name">
                李欣翰.
            </span>
        </div>
        <div class="profileframe">
            <div class="role">
                教學組
            </div>
            <div class="profile">
                <img class="profile" src="member/SSJ.png">
            </div>
            <span class="name">
                許順傑(程式),
            </span>
            <span class="name">
                盧詠涵(數學).
            </span>
        </div>
        <div class="profileframe">
            <div class="role">
                UI,UX設計
            </div>
            <div class="profile">
                <img style="width: 20vw;display: flex; margin: auto;" class="profile" src="member/ZZW.jpg">
            </div>
            <span class="name">
                鄭兆崴
            </span>
        </div>
    </div>
    <div class="rowframe">
        <div class="profileframe">
            <div class="role">
                外援組
            </div>
            <div class="profile">
                <img class="profile" src="salamander/salamander1.webp">
            </div>
            <span class="name">
                簡語辰
            </span>
        </div>
    </div>
    <!-- G1Teammate -->

    <!-- G2Professor -->
    <div class="title-box">
        <h1 class="title">
            第二屆
        </h1>
    </div>
    <div class="rowframe">
        <div class="profileframe">
            <div class="role">
                教授
            </div>
            <div class="profile">
                <!--  -->
            </div>
            <span class="name">
                <!--  -->
            </span>
        </div>
        <div class="profileframe">
            <div class="role">
                教授
            </div>
            <div class="profile">
                <!--  -->
            </div>
            <span class="name">
                <!--  -->
            </span>
        </div>
    </div>
    <!-- G1Professor -->

    <!-- G1Teammate -->
    <div class="rowframe">
        <div class="profileframe">
            <div class="role">
                團長
            </div>
            <div class="profile">
                <!--  -->
            </div>
            <span class="name">
                <!--  -->
            </span>
        </div>
        <div class="profileframe">
            <div class="role">
                副團長
            </div>
            <div class="profile">
                <!--  -->
            </div>
            <span class="name">
                <!--  -->
            </span>
        </div>
        <div class="profileframe">
            <div class="role">
                資安組
            </div>
            <div class="profile">
                <!--  -->
            </div>
            <span class="name">
                <!--  -->
            </span>
        </div>
    </div>
    <div class="rowframe">
        <div class="profileframe">
            <div class="role">
                計算機結構組
            </div>
            <div class="profile">
                <!--  -->
            </div>
            <span class="name">
                <!--  -->
            </span>
        </div>
        <div class="profileframe">
            <div class="role">
                教學組
            </div>
            <div class="profile">
                <!--  -->
            </div>
            <span class="name">
                <!--  -->
            </span>
        </div>
        <div class="profileframe">
            <div class="role">
                UI,UX設計
            </div>
            <div class="profile">
                <!--  -->
            </div>
            <span class="name">
                <!--  -->
            </span>
        </div>
    </div>
    <div class="rowframe">
        <div class="profileframe">
            <div class="role">
                外援組
            </div>
            <div class="profile">
                <!--  -->
            </div>
            <span class="name">
                <!--  -->
            </span>
        </div>
    </div>
    <!-- G2Teammate -->
</div>
