.view {
  display: flex;
  flex-direction: row;
}

.navbar {
  width: 10px;
  height: 10px;
  z-index: 1;
  position: fixed;
}

.spa {
  background-color: #000;
  color: #fff;
  text-align: center;
  width: 100vw;
  z-index: 0;
}