.animation-container {
    position: relative;
    margin-top: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 20px;
    padding: 10px;
}

.title-box {
    background-color: #f0f0f0;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 20px;
    padding: 20px;
    background: #f0f0f0;
    z-index: 2;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.animation-container::after, .animation-container::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: conic-gradient(from var(--angle), transparent 70%, #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    z-index: 1;
    border-radius: 20px;
    animation: 3s spin linear infinite;
}

.animation-container::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin {
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

.title {
    font-size: 7vw;
    color: #000000;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.rowframe {
    display: flex;
    flex-direction: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profileframe {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 0;
}

.role {
    font-size: 30px;
    color: #f0f0f0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.profile {
    width: 200px;
    height: 200px;
    margin: auto;
    background-color:grey;
}

.name {
    font-size: 30px;
    color: #f0f0f0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.view {
    padding-top: 1vh;
    padding-bottom: 1vh;
}