<div class="sidebar" [class.collapsed]="collapsed">
  <button class="sidebar-toggle" (click)="toggleSidebar()">
    @if (collapsed) {
      <span>&#9776;</span>
    }
    @if (!collapsed) {
      <span>&times;</span>
    }
  </button>
  <div [ngClass]="{'hide-navbar': collapsed}">
    <!-- Public -->
    <div class="navbar navbar-public">
      <a class="nav" [routerLink]="[path.home]">{{ 'nav.public.home' | translate }}</a>
      <a class="nav" [routerLink]="[path.member]">{{ 'nav.public.member' | translate }}</a>
      <a class="nav" [routerLink]="[path.aboutwebsite]">{{ 'nav.public.about' | translate }}</a>
      <a class="nav" [routerLink]="[path.tutorial]">{{ 'nav.public.tutorial' | translate }}</a>
      <a class="nav" [routerLink]="[path.update]">{{ 'nav.public.update' | translate }}</a>
      <a class="nav" [routerLink]="[path.register]">{{ 'nav.public.register' | translate }}</a>
      <a class="nav" [routerLink]="[path.login]">{{ 'nav.public.login' | translate }}</a>
    </div>

    <!-- Private -->
    @if (isLoggedIn()) {
      <div class="navbar navbar-private">
        <a class="nav-private" [routerLink]="[path.userhome]">{{ 'nav.private.home' | translate }}</a>
        <a class="nav-private" [routerLink]="[path.post]">{{ 'nav.private.postWall' | translate }}</a>
        <a class="nav-private" [routerLink]="[path.square]">{{ 'nav.private.square' | translate }}</a>
        <a class="nav-private" [routerLink]="[path.projectRecruitment]">{{ 'nav.private.recruit' | translate }}</a>
        <a class="nav-private" [routerLink]="[path.friend]">{{ 'nav.private.friend' | translate }}</a>
        <a class="nav-private" [routerLink]="[path.todo]">{{ 'nav.private.todo' | translate }}</a>
        <a class="nav-private" [routerLink]="[path.setting]">{{ 'nav.private.setting' | translate }}</a>
        <a class="nav-private" [routerLink]="[path.profile]">{{ 'nav.private.profile' | translate }}</a>
        <a class="nav-private" [routerLink]="[path.crawler]">{{ 'nav.private.crawler' | translate }}</a>
        <a class="nav-private logout" (click)="logout()">{{ 'nav.private.logout' | translate }}</a>
      </div>
    }

    <!-- Admin -->
    @if (isAdmin()) {
      <div class="navbar navbar-admin">
        <a class="nav-admin" [routerLink]="['/']">{{ 'nav.admin.user' | translate }}</a>
        <a class="nav-admin" [routerLink]="[path.content]">{{ 'nav.admin.content' | translate }}</a>
        <a class="nav-admin" [routerLink]="['/']">{{ 'nav.admin.logs' | translate }}</a>
        <a class="nav-admin" [routerLink]="['/']">{{ 'nav.admin.announce' | translate }}</a>
        <a class="nav-admin" [routerLink]="['/']">{{ 'nav.admin.events' | translate }}</a>
        <a class="nav-admin" [routerLink]="['/']">{{ 'nav.admin.projects' | translate }}</a>
        <a class="nav-admin" [routerLink]="['/']">{{ 'nav.admin.member' | translate }}</a>
      </div>
    }

    <!-- Superadmin -->
    @if (isSuperadmin()) {
      <div class="navbar navbar-superadmin">
        <a class="nav-superadmin" [routerLink]="[path.promote]">{{ 'nav.superadmin.promote' | translate }}</a>
        <a class="nav-superadmin" [routerLink]="['/']">{{ 'nav.superadmin.feature' | translate }}</a>
      </div>
    }
  </div>
</div>
