<div>
    <h1 class="title">
        蘇建華資訊數學人才培育團
    </h1>
</div>
<div>
    <h1 class="great-again">
        Let us make Department of Mathematics great again.
    </h1>
</div>
<!-- <button style="display: flex;margin: auto;"(click)="playAnimation1A();playAnimation1B()">
    Test
</button> -->
<div class="box">
    <div class="row-box">
        <h2 #decorate1A>
            \
        </h2>
        <h2>
            團隊願景
        </h2>
        <h2 #decorate1B>
            /
        </h2>
    </div>
    <p>
        團隊的目標是培養數學結合資訊的專業人才
    </p>
    <p>
        結合數學理論與程式設計
    </p>
    <p>
        提升成員的技術能力
    </p>
    <p>
        並為未來的學術研究與產業應用鋪路
    </p>
</div>
<div class="box">
    <div class="row-box">
        <h2 #decorate1A>
            \
        </h2>
        <h2>
            招募要求
        </h2>
        <h2 #decorate1B>
            /
        </h2>
    </div>
    <p>
        希望有點程式設計基礎
    </p>
    <p>
        並且要能溝通
    </p>
    <p>
        有上進心
    </p>
    <p>
        性別不拘(學妹為佳)
    </p>
</div>
<div class="box">
    <div class="row-box">
        <h2 #decorate1A>
            ]
        </h2>
        <h2>
            團隊目標
        </h2>
        <h2 #decorate1B>
            [
        </h2>
    </div>
    <ol>
        <li>
            <p>
                充實計算機與數學基礎
            </p>
        </li>
        <li>
            <p>
                掌握人工智慧與系統開發相關技術
            </p>
        </li>
        <li>
            <p>
                透過實戰與專題提升應用能力
            </p>
        </li>
    </ol>
</div>
<div class="box">
    <div class="row-box">
        <h2 #decorate1A>
            ]
        </h2>
        <h2>
            學習路線
        </h2>
        <h2 #decorate1B>
            [
        </h2>
    </div>
    <ol>
        <li>
            <p>
                網頁基礎（前端與後端）
            </p>
        </li>
        <li>
            <p>
                組合語言(Assembly)
            </p>
        </li>
        <li>
            <p>
                C 語言
            </p>
        </li>
        <li>
            <p>
                C 語言與組合語言的連結
            </p>
        </li>
        <li>
            <p>
                腳本語言 (Bash)
            </p>
        </li>
    </ol>
</div>
<div class="box">
    <div class="row-box">
        <h2 #decorate1A>
            ]
        </h2>
        <h2>
            進階學習路線
        </h2>
        <h2 #decorate1B>
            [
        </h2>
    </div>
    <ol>
        <li>
            <p>
                Angular(前端)
            </p>
        </li>
        <li>
            <p>
                資料結構與演算法
            </p>
        </li>
        <li>
            <p>
                機器學習與人工智慧
            </p>
        </li>
        <li>
            <p>
                系統開發與安全
            </p>
        </li>
        <li>
            <p>
                數據分析與應用
            </p>
        </li>
    </ol>
</div>